@import "src/commons/table";
.gridTableCard {
  border: solid 1px var(--gridTableCardBorderColor) !important;
  max-height: 370px !important;
}
.tdText {
  color: var(--tdTextColor);
  padding-left: 5px !important;
  padding-right: 5px !important;
}

table.v-table thead th{
  height: 50px !important;
}
table.v-table tbody td{
  font-size: 12px;
  white-space: nowrap;
}
.grid_page_content{
  margin-top: 10px !important;
}