.statistics-total-count {
  $self: #{&};

  background-color: #222a3e !important;
  width: 100%;
  position: relative;
  cursor: pointer;
  &-title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 24px;
    padding: 6px 0;
  }
  &__contents {
    position: relative;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    > h1 {
      font-weight: bold;
    }
    &-image {
      position: absolute;
      flex: none;
    }
  }
}