@import "src/commons/table";
.gridTableCard {
    border: solid 1px var(--gridTableCardBorderColor) !important;
    display: block;
    overflow: auto;
}
.report_boothName{
    width: 100px;
    height: 45px;
    font-size: 23px;
    font-weight: bold;
    background-color: #2D2E53;
    border: solid 1px #8F8888;
    border-radius: 30px;
    text-align: center;
    line-height: 42px;
    margin-top: 30px;
    margin-left: 30px;
}
.report_zoneBox{
    width: 1600px;
    height: 285px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border: 3px solid #fffbfb;
    border-radius: 70px;
    margin-bottom: 10px;
}
.report_zoneName {
    font-size: 25px !important;
    font-weight: 600;
    color: #faf7f7;
    margin-top: 10px;
    text-align: center;
    flex-basis: 18% !important;
    max-width: 18% !important;
}
.reportlist {
    border: 2px solid #f3f3f6;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 20px;
    height: 50px;
    flex-basis: 40% !important;
    max-width: 40% !important;
    padding-right: 5px;
    padding-top: 5px;
}
.reportlist .v-input{
    padding-top: 0px !important;
    >>> .v-input__slot:before, >>> .v-input__slot:after {
        display: none;
    }
}
.reportlist .v-select{
    padding-left: 20px !important;
    font-size: 18px !important;
}
.moveBtn{
    flex-basis: 20% !important;
    max-width: 20% !important;
}
.moveBtn .v-btn {
    height: 50px !important;
    font-size: 15px;
    font-weight: bold;
}

.settingBtn{
    display: flex;
    justify-content: center;
}
.settingBtn .v-btn {
    width: 120px;
    font-size: 14px;
    font-weight: bold;
}
.commentContainer{
    margin-top: 5px;
    border-top: 2px solid #b4b4b4;
}
.inputText{
    margin: auto;
    text-align: center;
    font-size: 22px;
    width: 250px;
}
.inputContainer{
    border-left: 2px solid #b4b4b4;
    height: 140px;
    flex-basis: 90% !important;
    max-width: 90% !important;

}
.inputBox .v-input{
    padding-top: 0px !important;
    >>> .v-input__slot:before, >>> .v-input__slot:after {
        display: none;
    }
}

.dataTable  >>> .v-table tbody td {
    font-size: 14px;
    background-color: #21263a;
}
.dataTable .v-input{
    >>> .v-input__slot:before, >>> .v-input__slot:after {
        display: none;
    }

}
.inputBox {
    .v-input{
        font-size: 17px;
    }
    >>> .v-input__control {
        height: 43px;
        margin-left: 3px;
        .v-text-field__prefix{
            font-size: 15px;
            color: #7d7d8c;
            margin-right: 3px;
        }
    }
}

.border {
    border-bottom: solid 1px #ffff;
}
.report_statusBtn{
    width: 130px;
    font-size: 15px;
}
.statusBtnBox{
    margin-top: 5px;
    margin-left: 50px;
    pointer-events: none;
}
.reportNameLayout{
    height: 80px;
}