.production-info-board {
  $self: #{&};
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0 15px 0;
    > p {
      margin-bottom: 0;
    }
  }
  &__contents {
    display: flex;
    width: 100%;
    &-table {
      width: 100%;
      > thead tr {
        height: 56px;
        background-color: #23263A;
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
      }
      >tbody tr {
        height: 32px;
        text-align: center;
        justify-content: center;
        font-size: 13px;
        font-weight: bold;
        background-color: #2D2F44;
        >td {
          padding: 0 24px 0 24px;
          border-bottom: 1px solid #3B3C55;
          height: 48px;
        }
      }
    }
  }
}
